.column-center
{
    text-align: center;
}

/* child row management */
td.details-control {
            text-align:center;
            color:forestgreen;
    cursor: pointer;
}
tr.shown td.details-control {
    text-align:center;
    color:red;
}

/* childrow display */

/* indent child rows */
.childrow-display {
    margin-left: 20px;
    width: 95%;
}

/* from https://datatables.net/blog/2017-06-30#Example */

.childrow-display .DTE_Label {
    font-weight: bold;
    padding-top: 6px;
}

.childrow-editform div.DTE div.DTE_Body div.DTE_Body_Content div.DTE_Field,
.childrow-display p.DTE_Field_Input
{
    padding: 0.7em 0 0 0;
}

.childrow-display .DTE_Label,
.childrow-editform div.DTE div.DTE_Body div.DTE_Body_Content div.DTE_Field > label {
    float: none;
    clear: both;
    width: 100%;
    font-size: 1.3em;
}
.childrow-editform div.DTE div.DTE_Body div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
    float: none;
    clear: both;
    width: 100%;
    padding-top: 1px;
}

.childrow-editform div.DTE div.DTE_Header,
.childrow-editform div.DTE div.DTE_Footer {
    background-color: transparent;
    border-color: black;
    display: block;
    float: left;
    padding-top: 6px;
}

/* override editor.dataTables.css */
.childrow-editform div.DTE div.DTE_Form_Buttons button {
    float:left;
}

.childrow-editform div.DTE div.DTE_Header {
    /*height: 60px;*/
    font-size: 2em;
}

/* overrides padding from editor.jqueryui.css */
.childrow-editform div.DTE div.DTE_Body {
    padding: 52px 0;
}

.childrow-editform p.start-editing,
.childrow-editform p.add-new {
    text-align: center;
    font-size: 1.4em;
    line-height: 1.4em;
}


.childrow-editform p.start-editing {
    padding-top: 7em;
}

.childrow-display .DTE_Field_Input {
    padding: 0 6px;
}

/* reorder */
table.dataTable td.reorder {
    text-align: left;
}