alabaster==0.7.12
appdirs==1.4.3
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
Babel==2.9.1
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
bleach==4.1.0
blinker==1.4
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
dashtable==1.4.5
decorator==4.4.2
deepmerge==0.1.0
defusedxml==0.6.0
dnspython==2.1.0
docutils==0.16
docx==0.2.4
dominate==2.4.0
email-validator==1.1.2
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.1.1
Flask-BabelEx==0.9.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security-Too==3.4.5
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
google-api-core==1.22.2
google-api-python-client==1.12.1
google-auth==1.21.2
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.52.0
httplib2==0.20.1
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==3.0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
loutilities==3.4.6.2
lxml==4.6.3
MarkupSafe==2.0.1
mistune==0.8.4
mysqlclient==1.4.6
nbclient==0.5.0
nbconvert==6.0.6
nbformat==5.0.7
nest-asyncio==1.4.0
notebook==6.4.5
numpy==1.17.4
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.7
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
passlib==1.7.2
pickleshare==0.7.5
Pillow==8.4.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2019.3
pywin32==301
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.7.2
Send2Trash==1.5.0
six==1.13.0
snowballstemmer==2.1.0
soupsieve==2.2.1
speaklater==1.3
Sphinx==3.4.3
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.3.11
sqlalchemy-datatables==2.0.1
SQLAlchemy-Utils==0.36.8
terminado==0.9.1
testpath==0.4.4
tornado==6.1
traitlets==4.3.3
tzlocal==2.0.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.7
ustache==0.1.4
validators==0.14.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
WTForms==2.2.1
wxPython==4.0.7.post2
xlrd==2.0.1
zipp==3.2.0
